In [1]:
import pandas as pd 

data = pd.read_csv("../datasets/sentiment.csv")
data

      sentiment                                             review
0             0   Think Dallas - the dream: I think this author...
1             1   Great Condition: I ordered this book as gift ...
2             1   smells great: purchased this for my father fo...
3             0   Horrible horrible horrible CAT REACTION!!!: T...
4             0   DOG TRAINING FOR SADISTS: We bought this book...
...         ...                                                ...
4995          1   Prodikeys are..... special =): The product wo...
4996          0   This book (and the rest of the series) is ter...
4997          1   Outstanding Book!: This was a book that was h...
4998          1   Culturally diverse fiction is Ana Castillo's ...
4999          0   Avoid this flimsy thing!: The concept of a fu...

[5000 rows x 2 columns]

In [5]:
# import nltk
# from nltk import stopwords

from sklearn.feature_extraction.text import CountVectorizer

vec = CountVectorizer()
x = vec.fit_transform(data['review'])

#print(vec.vocabulary_)
print(x.toarray())
print()
print(x.shape)

[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]

(5000, 23980)

In [6]:
data

      sentiment                                             review
0             0   Think Dallas - the dream: I think this author...
1             1   Great Condition: I ordered this book as gift ...
2             1   smells great: purchased this for my father fo...
3             0   Horrible horrible horrible CAT REACTION!!!: T...
4             0   DOG TRAINING FOR SADISTS: We bought this book...
...         ...                                                ...
4995          1   Prodikeys are..... special =): The product wo...
4996          0   This book (and the rest of the series) is ter...
4997          1   Outstanding Book!: This was a book that was h...
4998          1   Culturally diverse fiction is Ana Castillo's ...
4999          0   Avoid this flimsy thing!: The concept of a fu...

[5000 rows x 2 columns]

In [7]:
y = data["sentiment"]
y

0       0
1       1
2       1
3       0
4       0
       ..
4995    1
4996    0
4997    1
4998    1
4999    0
Name: sentiment, Length: 5000, dtype: int64

In [8]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y)
[i.shape for i in [x_train, x_test, y_train, y_test]]

[(3750, 23980), (1250, 23980), (3750,), (1250,)]

In [9]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier()
model.fit(x_train, y_train)
model.score(x_test, y_test)

0.832

In [12]:
new_reviews = ["I love this book", "This is a very bad book", "This is a very good book", "This is a terrible crappy book", "meh"]
review_vector = vec.transform(new_reviews)

display(review_vector)

model.predict(review_vector)

<5x23980 sparse matrix of type '<class 'numpy.int64'>'
	with 19 stored elements in Compressed Sparse Row format>

array([1, 1, 1, 0, 1], dtype=int64)